{% extends "index.html" %}
{%block script %}
<script>
    $(function () {
        setInterval(function() {
            posts.update();
        }, {{ config.twitter_timeout }})
    });

    var posts = {
        'update': function () {
            $.ajax({
                url: '/main/ajax-posts',
                method: 'get',
                dataType: 'json',
                beforeSend: function() {
                    $('.date').prepend('<i class="fa fa-spin fa-spinner"></i>');
                },
                success: function (response) {
                    $('.date').text(response.date);
                    $('.posts').html(response.posts);
                }
            })
        }
    };
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-body panel-white">
            <div class="row date">
                Обновлено: {{ date }}
            </div>
            <div class="col-md-12 posts">
                {{include('ajax/posts.html')}}
            </div>
        </div>
    </div>
</div>
{% endblock %}