{% extends "index.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>

                <div class="panel-body">
                    <form class="form-horizontal" method="POST" action="/main/post-login">
                        <input type="hidden" name="token" value="{{token}}">
                        <div class="form-group{% if errors.login %} has-error {% endif %}">
                            <label for="login" class="col-md-4 control-label">Login</label>

                            <div class="col-md-6">
                                <input id="login" type="text" class="form-control" name="login" value="{{ old.login }}" >

                                {% if errors.login %}
                                <span class="help-block">
                                        <strong>{{ errors.login }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group{% if errors.password %} has-error {% endif %}">
                            <label for="password" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password" value="{{ old.password }}" >

                                {% if errors.password %}
                                <span class="help-block">
                                        <strong>{{ errors.password }}</strong>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
