<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="{% if active_page == 1 %}disabled{% endif %}">
            {% if active_page != 1 %}<a href="{{url}}" title="First page">{% endif %}
            <span>
                <span aria-hidden="true">&laquo;&laquo;</span>
            </span>
            {% if active_page != 1 %}</a>{% endif %}
        </li>
        <li class="{% if active_page == 1 %}disabled{% endif %}">
            {% if active_page != 1 %}<a
                href="{% if active_page == 2 %}{{ url }}{% else %}{{url_page}}{{active_page - 1}}{% endif %}"
                title="Previous page">{% endif %}
            <span>
                <span aria-hidden="true">&laquo;</span>
            </span>
            {% if active_page != 1 %}</a>{% endif %}
        </li>
        {% for link in links %}
        {% if link == active_page %}
        <li class="active">
            <span>
                <span aria-hidden="true">{{ link }}</span>
            </span>
        </li>
        {% else %}
        <li>
            <a href="{% if link == 1 %}{{url}}{% else %}{{url_page}}{{link}}{% endif %}" title="Page #{{link}}">
                <span>
                    <span aria-hidden="true">{{ link }}</span>
                </span>
            </a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="{% if active_page == count_pages %}disabled{% endif %}">
            {% if active_page != count_pages %}<a href="{{ url_page }}{{ active_page+1 }}" title="Next page">{% endif %}
            <span>
                <span aria-hidden="true">&raquo;</span>
            </span>
            {% if active_page != count_pages %}</a>{% endif %}
        </li>
        <li class="{% if active_page == count_pages %}disabled{% endif %}">
            {% if active_page != count_pages %}<a href="{{ url_page }}{{ count_pages }}" title="Last page">{% endif %}
            <span>
                <span aria-hidden="true">&raquo;&raquo;</span>
            </span>
            {% if active_page != count_pages %}</a>{% endif %}
        </li>
    </ul>
</nav>